body {
	background:#888;
	font-family:Times New Roman;
}
h1{
	color:Blue;
	font-size: 100px;
}
p{
	font-size: 60px;
}
ul{
	font-size: 40px;
	color:Blue;
}
.ty{
	color:Red;
}
.tt{
	color:black;

}
.ss{
	color:green;
}
.pp{
	color:white;
}
