.main {
	border: 1px solid black;
	width: 50%;
	margin: 0 auto;
}
.tittle {
	border: 1px solid black;
	padding: 10px;
	text-align: center;
	font-size: 40px;
}
.form {
	display: flex;
	width: 90%;
}
.space {
	margin: 20px;
}
.reset button {
	padding: 10px;
	margin: 10px;
	width: 150px;
}
.reset {
	margin: 50px;
	text-align: center;	
}
.cancel-button{
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	color: black;
	background-color: #EFEFEF;
	width: 150px;
	display: inline-block;
}
.cancel-button-link {
	text-decoration: none;
}