.div-main {
	display: flex;
  	border: 1px solid black;
  	padding: 20px 0;
  	height: 80vh;
  	background-image: url("https://i.imgur.com/qlAvUvr.png");
  	background-size: 20%;
  	background-repeat: repeat;
}

.oasis {
	text-align: left;
	margin: 5px;
	font-size: 50px;
	color: white;
	font-family: helvetica;
	font-style: italic;
}
.header-div {
	text-align: right;
	display: flex;
	background-color: #25548d;
	border-top: 10px solid #eed15c;
}

.main {
	border: 1px solid black;
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	background-color: white;

}
.tittle {
	border-bottom: 1px solid black;
	padding: 10px;
	text-align: center;
	font-size: 60px;
	font-family: helvetica;
	font-style: bold;
	color: #25548d;
	margin-top: 10px;
	text-transform: uppercase;

}
.form {
	display: flex;
	width: 90%;
}
.space {
	margin: 20px;
}
.reset button {
	padding: 10px;
	margin: 10px;
	width: 150px;
	font-family: tahoma;
	font-size: 15px;
	background-color: #25548d;
	color: white;
	text-align: center;
	text-transform: uppercase;
	border: 1px solid black;
}
.reset {
	margin: 50px;
	text-align: center;	
}
.cancel-button{
	margin: 10px;
	border: 1px solid black;
	padding: 10px;
	width: 150px;
	display: inline-block;
	font-family: tahoma;
	font-size: 15px;
	background-color: #25548d;
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.cancel-button-link {
	text-decoration: none;
}
label {
	text-align: left;
	margin-left: 30px;
}