.main {
	border: 1px solid black;
	width: 50%;
	margin: 0 auto;
	margin-top: 125px;
	background-color: white;
	text-align: center;
	height: auto;
	border-style: inset;
  	border-color: #4760E9;
 	border-width: 7px;
}
.name {
	font-size: 20px;
}
input {
	padding: 4px;
}
.note {
	/*border-bottom: 1px solid black;*/
	padding: 10px;
	text-align: center;
	font-size: 30px;
	font-family: helvetica;
	font-style: bold;
	color: #25548d;
	margin-top: 10px;
	text-transform: uppercase;
}
.details {
	margin-bottom: 10px;
}
.submit-cancel {
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 35px;
}
.btn {
	text-decoration: none;
	border: 1px solid black;
	padding: 10px 15px 10px 15px;
	background-color: #25548d; 
	color: white;
	border-radius: 12px;
	border: none;
}
.cancel {
	padding: 9px 15px 9px 15px;	
}