html, body {
  margin: 0;
  padding: 0;
}  

body{
	background-image: url("https://i.imgur.com/qlAvUvr.png");
  	background-size: 20%;
  	background-repeat: repeat;
  	height: 100%;
  	font-family: Numans;
}
.guest {
	font-size: 50px;
	color: #006cb7;
	font-family: helvetica;
	font-style: italic;
	text-align: center;
	margin-top: 20px;
}
.header-div {
	text-align: right;
	display: flex;
	background-color: #006cb7;
	border-bottom: 10px solid #FDB933;
}

.oasis {
	text-align: left;
	margin: 5px;
	font-size: 50px;
	color: white;
	font-family: helvetica;
	font-style: italic;
}
.div-main{
	display: flex;
	background-image: url("https://i.imgur.com/qlAvUvr.png");
	background-size: 20%;
	background-repeat: repeat;
	height: 100%;
}
.left {
	width: 50%;
	height: 80%; 
	padding: 0 10px 20px 10px;
	margin: 60px;
	margin-top: 65px;
	background: #F5F5F5;
	border-bottom: 8px solid #006cb7;
	height: fit-content;
}
.right {
	margin-top: 65px;
	background: #e5e5e5;
	background: #F5F5F5;
	border-bottom: 8px solid #006cb7;
	height: fit-content;
}
p {
	text-align: center;
	margin-top: 0;
	font-weight: bold;
}	
.fname-lname {
	display: flex;
}
.course-section {
	display: flex;
}
.div-line{
	margin-right: 10px;
}
.form-row{
	margin:5px 0;
	width: 100%;
}
input[type="text"],
input[type="email"]{
	width: 100%;
}
input[name="student-companion"]{
	width: 50px;
}
.form-straight{
	width: 50%;
}
.submit-cancel button {
	margin: 10px;
	padding: 5px 15px 5px 15px;
	width: 75px;
	font-family: Tahoma;
	background-color: #006cb7; 
	color: white;
}
.submit-cancel{
	text-align: center;
	font-family: Tahoma;
	font-size: 13px;
}
 
.right-fname{
	margin-right: 10px;
}
.companion-FLname{
	display: flex;
}
.companion-line{
	margin: 8px;

}
.ok-button{
	text-align: center;
	padding: 10px;

}
.OK-btn{
	padding: 5px 15px 5px 15px;
	background-color: #006cb7;
	color: white;

}
.top-info{
	padding: 5px;
	font-size: 50px;
	color: #006cb7;
	font-family: helvetica;
	font-style: italic;
	text-align: center;
	margin-top: 20px;

}
.word {
	font-style: italic;
}
.word-note{
	font-weight: bold;
}
.cancel-button{
	text-decoration: none;
	padding: 5px 15px 5px 15px;
	background-color: #006cb7; 
	color: white;
}
.required{
	color: red;
}
.text {
	font-size: 16px;
}



